pandas==1.4.3
streamlit==1.20.0
python-dotenv==1.0.0
SQLAlchemy==1.4.47
snowflake-sqlalchemy==1.4.7
pyarrow==10.0.1
snowflake==0.0.3
snowflake-snowpark-python==1.5.1
snowflake-connector-python==3.2.0
streamlit-autorefresh
plotly==5.9.0
